# Dependencies
node_modules/
.pnp
.pnp.js

# Build Outputs
dist/
dist-ssr/
build/
*.local

# Environment variables & secrets
.env
.env.local
.env.*.local
!.env.example

# Go binaries
backend/server
*.exe
*.dll
*.so
*.dylib

# Android build & cache
.gradle/
**/android/app/build/
**/android/build/
**/android/.gradle/
**/android/local.properties
**/android/capacitor-cordova-android-plugins/build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# OS & IDE
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo
.vercel
.env*
